div.center{

    width: 70px;
    height: 70px;
    margin-top: 5px;
    position: relative;

}

div.selected {
    box-shadow:1px 12px 22px 1px #ffe57b;
    border: solid 2px #ffe57b;
}

.slideContainer {
    width: 25%;
}

.slider {
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

h1 {
    font-size: 15px;
    font-style: normal;
    text-align: left;
}

h2 {
    font-size: 15px;
    font-style: normal;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
}

.titleContainer {
    position: relative;
    text-align: center;
    color: white;
}

div.colors{
    margin: auto;
    padding: 10px;
    width: 50px;
    height: 50px;
}

body {
    background-color: lightcyan;
}
