header{
    -webkit-text-fill-color: #ff197a;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 70px;
    font-family: arial, sans-serif;
    width: 800px;
    margin: 50px auto;
    text-align: center;
}

.menu{
    margin-left: auto;
    margin-right: auto;
}

.menuButton{
    background-color: white;
    color: white;
    border-radius: 10px;
    height: 45px;
    font-size: 25px;
}

.menuButton:hover{
    background-color: cornflowerblue;
    color: white;
    transition-duration: 0.4s;
}

body{
    background: radial-gradient(circle, lightskyblue, cornflowerblue, darkblue) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
