canvas{
    border: 1px solid #d3d3d3;
    background-color: lightskyblue;
}

#divcanvas{
    /*border: 1px solid #d3d3d3;*/
    margin: auto;
    width: 25%;
    height: 20%;
}

h1{
    font-size: 50px;
    margin-right: 20%;
    margin-left: 35%;
    /*margin-right: 38%;*/
    font-family: "American Typewriter", fantasy;
    color: deeppink;
}

#jump, #restart{
    margin-left: 50%;
    margin-right: 50%;
    border-radius: 40%;
    font-size: 24px;
    border: 2px solid hotpink;
    background-color: pink;
    font-family: "American Typewriter", sans-serif;

}
#start{
    font-family: "American Typewriter", sans-serif;
    margin-left: 50%;
    margin-right: 50%;
    border-radius: 40%;
    width: 100px;
    font-size: 15px;
    border: 2px solid hotpink;
    background-color: pink;
}

#home{
    font-family: "American Typewriter", sans-serif;
    margin-left: 48.5%;
    border-radius: 40%;
    width: 150px;
    font-size: 15px;
    border: 2px solid hotpink;
    background-color: pink;
}

#jump:hover{
    background-color: hotpink;
}

#restart:hover{
    background-color: hotpink;
}

#start:hover{
    background-color: hotpink;
}

#home:hover{
    background-color: hotpink;
}

.choice{
    height: 100px;
    width: 70px;
}

#restartdiv{
    text-align: center;
    margin: auto;
    font-family: "American Typewriter", sans-serif;
}
body{
    background: radial-gradient(circle, white, mediumpurple, purple) fixed;
    background-repeat: no-repeat;
    background-size: cover;}

#instructions{
    font-family: "American Typewriter", sans-serif;
    text-align: center;
    margin: auto;
}
